
/*----*****---- << Thumb-Overlap Type Styles >> ----*****----*/


    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-thumb .entry-author-pic {position: absolute;bottom: -25px;clip-path:polygon(50% 0%, 100% 0, 100% 65%, 100% 100%, 33% 100%, 0 65%, 0 0);display: none;}
    .wdt-thumb-overlap-style.wdt-post-entry.alignleft .blog-entry > div.entry-thumb .entry-author-pic,
    .wdt-thumb-overlap-style.wdt-post-entry.alignnone .blog-entry > div.entry-thumb .entry-author-pic {left: 35px;}
    .wdt-thumb-overlap-style.wdt-post-entry.aligncenter .blog-entry > div.entry-thumb .entry-author-pic {left:50%;transform: translate(-50%);}
    .wdt-thumb-overlap-style.wdt-post-entry.alignright .blog-entry > div.entry-thumb .entry-author-pic {right:35px}
    .entry-list-layout.wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-thumb .entry-author-pic {bottom: 25px;right: -25px;clip-path: polygon(50% 0%, 100% 0, 100% 65%, 65% 100%, 0 100%, 0% 60%, 0 0);}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-meta-group:not(:last-child), .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry > div.entry-meta-group:not(:last-child), .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-meta-group:not(:last-child){border: none;margin: 10px 0;}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-meta-group > div, .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry > div.entry-meta-group > div, .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-meta-group > div{display:inline-block;width: auto;}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-meta-group > div:not(:last-child):after {
        content: '';
        width: 7px;
        height: 7px;
        position: relative;
        display: inline-block;
        border-top: 1px solid currentColor;
        border-bottom: 1px solid transparent;
        border-right: 1px solid currentColor;
        border-left: 1px solid transparent;
        transform: rotate(45deg);
        transition: var(--wdtBaseTransition);
        margin: 0 5px;
    }
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style.alignright .blog-entry .entry-button a.wdt-button:after{display: none;}
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style.alignright .blog-entry .entry-button a.wdt-button:before {
        content: '\2190';
        display: inline-block;
        color: currentColor;
        font-size: 20px;
        margin-right: 8px;
        position: unset;
        margin-top: 0;
        height: auto;
        transition: var(--wdtBaseTransition);
        background: transparent;
    }
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style.alignright .blog-entry .entry-button a.wdt-button:hover:before {margin-right: 15px;}
    .wdt-thumb-overlap-style .entry-author span{text-transform: lowercase;}
    .wdt-thumb-overlap-style .entry-author a {font-weight: bold;text-transform: uppercase;}    
    .wdt-thumb-overlap-style .entry-categories i, .wdt-thumb-overlap-style .entry-tags i {display: none;}
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button:before {content: '\2192';display: inline-block;color: currentColor;font-size: 30px;margin-right: 10px;position: unset;margin-top: 0;height: auto;transform: translateY(2px);line-height: 0;}
    /* .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-button a.wdt-button:hover:after{margin-left: 20px;} */
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-button a.wdt-button:hover, 
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-button a.wdt-button:focus{outline: unset;outline-offset: 0;text-decoration: unset !important;-webkit-box-shadow: unset;box-shadow: unset;}
    /* .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button:before{display:none;} */
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry:hover .entry-button a.wdt-button:after {width: 0;}
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button{background: transparent;padding: 0;margin-top: 0; }
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-button a.wdt-button:hover{background: transparent;color: var(--wdtPrimaryColor);}
    .wdt-thumb-overlap-style .blog-entry .entry-social-share .share{margin: 8px 0;}
    .wdt-thumb-overlap-style .blog-entry .entry-format a{margin: 25px 5px 5px 25px;}
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry, .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry{
        /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px; */
        background: #F4F4F4;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover, .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry:hover{
        /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px 0px, rgb(0 0 0 / 10%) 0px 0px 20px 0px; */
        background: var(--wdtPrimaryColor);
        padding-bottom: 6px;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .tag-link.blog-entry .entry-link-inner, .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column tag-quote.blog-entry .entry-quote-inner {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .tag-link.blog-entry .entry-link-inner .entry-link-wrapper a
    {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover .entry-link-inner:hover
    {
        color: var(--wdtPrimaryColor) !important;
    }
    .blog-entry .entry-title h4 span.sticky-post, .blog-entry .entry-social-share .share > i, .wdt-post-entry.entry-cover-layout .blog-entry .entry-social-share .share > i
    {
        background-color: var(--wdtPrimaryColor) !important;
    }
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry:hover .entry-title h4 span.sticky-post
    {
        background: var(--wdtAccentTxtColor) !important;
        color: var(--wdtPrimaryColor) !important;
    }
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-title h4 a,.wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button, .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-meta-group a:not(.wdt-button),.wdt-thumb-overlap-style.wdt-post-entry .blog-entry div.entry-categories a, .wdt-thumb-overlap-style.wdt-post-entry .blog-entry div.entry-tags a{color: var(--wdtPrimaryColor);}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-title h4 a:hover,.wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button:hover, .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-meta-group a:not(.wdt-button):hover, .wdt-thumb-overlap-style.wdt-post-entry .blog-entry a:hover,.wdt-thumb-overlap-style.wdt-post-entry .blog-entry div.entry-categories a:hover, .wdt-thumb-overlap-style.wdt-post-entry .blog-entry div.entry-tags a:hover{color: var(--wdtSecondaryColor);}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-format a.ico-format:hover{color: var(--wdtBodyBGColor);background: var(--wdtSecondaryColor);}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry a:not(.wdt-button){text-decoration: none;}
    .wdt-thumb-overlap-style.wdt-post-entry .sticky.blog-entry a:not(.wdt-button),
    .wdt-thumb-overlap-style.wdt-post-entry .tag-sticky-2.blog-entry a:not(.wdt-button) {text-indent: 30px;}
    /* .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:not(.has-post-thumbnail), .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry:not(.has-post-thumbnail){padding-top: 20px;} */
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry a:not(.wdt-button):not(.ico-format){color: var(--wdtPrimaryColor);}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry a:not(.wdt-button):not(.ico-format):hover{color: var(--wdtSecondaryColor);}
    /* .wdt-thumb-overlap-style.wdt-post-entry .blog-entry:hover a:not(.wdt-button):not(.ico-format):not(:hover) {
        color: var(--wdtAccentTxtColor);
    } */
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post {right: unset;top: 6px;}
    /* .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-button a.wdt-button span{display: none;} */
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-thumb, 
    .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-thumb{margin-bottom: 0;}
    .wdt-thumb-overlap-style .entry-title {
        margin-bottom: 26px !important;
        position: relative;
    }
    .wdt-thumb-overlap-style .entry-title:after {content: '';width: 100%;height: 1px;display: block;transform: translateY(13px);background: currentColor;}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div:first-child:not(.entry-thumb), 
    .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div:first-child:not(.entry-thumb){margin-top: 50px;}
    .wdt-thumb-overlap-style.wdt-post-entry .has-post-thumbnail.blog-entry > div.entry-thumb:not(:first-child), 
    .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .has-post-thumbnail.blog-entry .entry-details > div.entry-thumb:not(:first-child){margin-top: 30px;}
    .wdt-thumb-overlap-style.wdt-post-entry .blog-entry .entry-title h4{font-size: var(--wdtFontSize_H5);}
    .tpl-blog-holder .wdt-thumb-overlap-style.column .has-post-thumbnail.blog-entry:hover .entry-thumb, 
    .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .has-post-thumbnail.blog-entry:hover .entry-thumb {padding-top: 6px;padding-bottom: 6px;background-color: var(--wdtBodyBGColor);}
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover .entry-link-inner, .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover .entry-quote-inner {
        color: var(--wdtHeadAltColor) !important;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover .entry-thumb, 
    .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry:hover .entry-thumb{padding-top: 3px;padding-bottom: 3px;background-color: var(--wdtBodyBGColor);}
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button:before{display: none;}
    .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button span svg{font-size: 40px;}
    .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button{display: flex;align-items: center;justify-content: flex-start;}
    .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button span:last-child {order: -1;margin-left: -5px;}
    .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button span:first-child {
        position: relative;
        margin-right: 0;
        text-indent: -110px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility .4s ease,margin-right .4s ease-out,text-indent .5s ease-out,opacity .4s ease;
        -ms-transition: visibility .4s ease,margin-right .4s ease-out,text-indent .5s ease-out,opacity .4s ease;
        transition: visibility .4s ease,margin-right .4s ease-out,text-indent .5s ease-out,opacity .4s ease;
        will-change: visibility,margin-right,text-indent,opacity;
        overflow: hidden;
    }
    .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button:hover span:first-child{
        opacity: 1;
        text-indent: 0;
        margin-right: 6px;
        visibility: visible;
        -webkit-transition: visibility .4s ease,margin-right .3s ease-out,text-indent .4s ease-out,opacity .4s ease;
        -ms-transition: visibility .4s ease,margin-right .3s ease-out,text-indent .4s ease-out,opacity .4s ease;
        transition: visibility .4s ease,margin-right .3s ease-out,text-indent .4s ease-out,opacity .4s ease;
    }
    .wdt-thumb-overlap-style .blog-entry .entry-body p {
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover .entry-thumb, 
    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry:hover .entry-thumb
    {
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }
    .wdt-dark-bg-post .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-thumb, 
    .wdt-dark-bg-post .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-thumb
    {
        margin-bottom: 30px;
    }
    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry, 
    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry
    {
        background: #033348;
    }
    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover, 
    .wdt-dark-bg-post .tpl-blog-holder .wdt-thumb-overlap-style.wpb_column .blog-entry:hover
    {
        background: #BC9997;
        padding-bottom: 0;
    }
    .wdt-dark-bg-post .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button span:last-child
    {
        display: none;
    }
    .wdt-dark-bg-post .blog-entry .entry-button a.wdt-button span
    {margin-left: 0;}
    .wdt-post-entry .blog-entry:hover .entry-button a.wdt-button {
        background: transparent;
    }
    .wdt-dark-bg-post .wdt-thumb-overlap-style.wdt-post-entry .blog-entry a:not(.wdt-button):not(.ico-format)
    {color: #BC9997;}
    .wdt-dark-bg-post .wdt-posts-list-wrapper .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button
    {
        background: #BC9997;
        padding: var(--wdtPadding_Btn);
        color: var(--wdtAccentTxtColor);
        display: inline-block;
    }
    .wdt-dark-bg-post .wdt-thumb-overlap-style .blog-entry .entry-button a.wdt-button span:first-child
    {
        opacity: 1;
        text-indent: 0;
        visibility: visible;
    }
    .wdt-dark-bg-post .wdt-post-entry .blog-entry:hover .entry-button a.wdt-button
    {
        background: var(--wdtAccentTxtColor);
    }
    .wdt-dark-bg-post .wdt-thumb-overlap-style .blog-entry:hover .entry-button a.wdt-button span:first-child
    {
        color: #BC9997;
        margin: 0;
    }
    .blog-entry .entry-title h4 span.sticky-post, 
    .blog-entry .entry-social-share .share > i, 
    .wdt-post-entry .blog-entry .entry-button a.wdt-button, 
    .wdt-post-entry.entry-cover-layout .blog-entry .entry-social-share .share > i, 
    .wdt-post-entry .blog-entry .entry-format a
    {
        background-color: #BC9997;
    }
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover > div > *, 
    .tpl-blog-holder .wdt-thumb-overlap-style .blog-entry:hover .entry-title h4 a, 
    .tpl-blog-holder .wdt-thumb-overlap-style .blog-entry:hover .entry-button.wdt-core-button a, 
    .tpl-blog-holder .wdt-thumb-overlap-style.column .blog-entry:hover > div,
    .blog-entry:hover .entry-button a.wdt-button span svg,
    .wdt-dark-bg-post .wdt-thumb-overlap-style.wdt-post-entry .blog-entry:hover a:not(.wdt-button):not(.ico-format)
    {
        color: var(--wdtAccentTxtColor);
    }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/


    /*----*****---- << iPad - Landscape >> ----*****----*/

    @media only screen and (min-width:1025px) {

        .wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-meta-group:not(:last-child), .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry > div.entry-meta-group:not(:last-child), .wdt-thumb-overlap-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-meta-group:not(:last-child){padding: 10px 35px 10px;}

    }


    /*----*****---- << Tablet (Portrait) >> ----*****----*/

    /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:1024px) {

        .wdt-thumb-overlap-style.wdt-post-entry.alignleft .blog-entry > div.entry-thumb .entry-author-pic,
        .wdt-thumb-overlap-style.wdt-post-entry.alignnone .blog-entry > div.entry-thumb .entry-author-pic {left: 25px;}
        .wdt-thumb-overlap-style.wdt-post-entry.alignright .blog-entry > div.entry-thumb .entry-author-pic {right:25px}

    }


    @media only screen and (max-width: 767px) 
    {    
        .wdt-thumb-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image > a, .wdt-thumb-overlap-style.wdt-post-entry.entry-list-layout .blog-entry .entry-thumb .blog-image .bx-wrapper .entry-gallery-post-slider li
        {height: 300px;position: relative;}
        .entry-list-layout.wdt-thumb-overlap-style.wdt-post-entry .blog-entry > div.entry-thumb .entry-author-pic{right: unset;left: 25px;}
    }



    /*----*****---- << Mobile - Portrait >> ----*****----*/

    /* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
        .wdt-thumb-overlap-style.wdt-post-entry.alignleft .blog-entry > div.entry-thumb .entry-author-pic,
        .wdt-thumb-overlap-style.wdt-post-entry.alignnone .blog-entry > div.entry-thumb .entry-author-pic {left: 25px;}
        .wdt-thumb-overlap-style.wdt-post-entry.alignright .blog-entry > div.entry-thumb .entry-author-pic {right:25px}

    }


